.quick-select {
  display: flex;
  align-items: center;
  padding: 1rem;
 }
 
 .quick-select-title {
  color: white;
  margin-right: 1rem;
 }
 
 .quick-select-search {
  background-color: #444;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 0.5rem 1rem;
 }
 
 .quick-select-search:focus {
  outline: none;
 }