.quick-select {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.h2 {
  font-size: large;
  font-weight: bold;
}
.quick-select-title {
  color: white;
  margin-right: 1rem;
  text-align: left;
}

.quick-select-search {
  background-color: #444;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 0.5rem 1rem;
  text-align: right;
}

.quick-select-search:focus {
  outline: none;
}

.switch {
  color: orangered;
}
