.Zone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  background-color: transparent;
  border: 2px solid #444;
  border-radius: 25px;
  color: white;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}

#ZoneS {
  border-color: white;
  background-color: rgb(241, 179, 120);
  color: orangered;
}

#Zone1 {
  border-color: white;
  background-color: rgb(130, 205, 228);
  color: rgb(11, 163, 209);
}

#ZoneN {
  border-color: white;
  background-color: rgb(101, 211, 101);
  color: rgb(67, 172, 19);
}

#ZoneL {
  border-color: white;
  background-color: rgb(231, 161, 184);
  color: rgb(194, 57, 102);
}
